<?xml version="1.0" encoding="utf-8"?>
<manifest package="me.ivt.com.ui"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".cardview.CardviewActivity">
        </activity>
        <activity android:name=".floatingactionbutton.FloatingActionBarActivity">
        </activity>
        <activity android:name=".parallelspacedemo.ParallelSpaceActivity">
        </activity>
        <activity android:name=".floatingactionbutton.FabAnimalActivity">
        </activity>
        <activity android:name=".property_animation_safari.Property_Animation_Safary_Activity">
        </activity>
        <activity android:name=".scene_translation_animation.Scene_Translation_AnimtionActivity">
        </activity>
        <activity android:name=".scene_translation_animation.SecondActivity">
        </activity>
        <activity android:name=".svg.SGVActivity">
           
        </activity>
        <activity android:name=".parallax.ParallaxActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>